/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
/.vs/
/.vsconfig
/Content/Collections/
/Content/Developers/
/Content/Fab/
/Content/ParagonMinions/
/Content/SciFITrooper_Man_03/
/Content/__ExternalActors__/
/Content/__ExternalObjects__/
